/**/node_modules/
cord.code-workspace
design_resources/
images/
phal_webapp/
/**/resources/
data/
/**/build/
webapp/*.zip
webapp/*.sh
Docs/
server/entitys_data/
/**/__pycache__/
*.zip
package/
server/docker-compose.yaml
